.navbar-custom {
    background-color: rgb(40,40,40);
}

html body {
    background-color: rgba(10,15,10,1.00);
}

*:focus {
    outline: none;
}

.sk-navbar-icon {
    font-size: 20px;
    color: rgba(255,255,255,0.88);
}

/* dropdown menu */
.navbar > li > .dropdown-menu {
    background-color: rgb(40,40,40);
}

.navbar > li > .dropdown-menu > a {
    color: rgba(255,255,255,0.88);
    /* font-family: "Roboto", "Arial", sans-serif; */
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.navbar > li > .dropdown-menu > a:hover,
.navbar > li > .dropdown-menu > a:focus {
    background-color: #555555;
    background-image: none;
}

.sk-dropdown-item {
    font-size: 20px;
    margin-left: -4px;
    margin-right: 8px;
}

.sk-dropdown-item-label {
    position: relative;
    left: 20px;
}

.sk-dropdown-divider {
    border-color: #333333;
}

.navbar > li > .dropdown-menu > a:hover {
    background-color: rgb(80,80,80);
}

.dropdown-toggle::after {
    display: none;
}

.navbar > li > .dropdown-menu {
    padding-top: 10px;
    padding-bottom: 11px;
    width: 200px !important;
}

.fa-search,
.fa-tv,
.fa-video,
.fa-music,
.fa-film,
.fa-plus,
.fa-question-circle,
.fa-comment-alt,
.fa-cog {
    color: rgba(255,255,255,.4);
}


.form-control {
    border-radius: 0;
    background-color: rgb(40,40,40);
}

.sk-searchbox {
    float: left;
    border-radius: 2px 0 0 2px;
    padding-left: 10px;
    width: 564px;
    height: 30px;
    line-height: 35px;
    background: #fff;
    border-right: none;
    border: 1px solid rgba(255,255,255,0.2);
    font-family: "Roboto", "Noto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    outline-color: rgba(255, 255, 255, 0.88);
    outline-style: none;
    outline-width: 0px;
    border-right:none;
    color: rgba(255,255,255,0.88);
    background-color: rgba(10,15,10,1.00);
}

.sk-searchform > input[type="text"]:focus,
.sk-searchform > textarea:focus {
    border: 1px solid #355E9B;
    color: rgba(255,255,255,0.88);
}

.sk-searchform {
    position: absolute;
    left: 30%;
}

.sk-searchbutton {
    border-radius:0 2px 2px 0;
    width: 60px;
    height: 30px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
    margin: 0;
}

.view-panel {
    box-sizing: border-box;
    text-align: center;
    margin: 50px auto 60px;
    padding: 0 40px;
    opacity: 0;
}

@media (max-width: 600px) {
    .view-panel {
        margin: 45px auto;
        padding: 0 25px;
    }
}

/* Media collections list */
.collections-list {
    display: table;
    list-style: none;
    margin-left: 300px;
    max-width: 1200px;
    text-align: center;
    padding: 0;
    opacity: 0; /* invisible */
    font-size: 0;
}

.view-panel.visible,
.collections-list.visible {
    opacity: 1;
    transition: 1s;
    pointer-events: auto;
}

.collections-list > li {
    float: left;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: 0.2s;

    text-align:left;
    font:normal 12px sans-serif;

    margin: 0 50px 15px 0;
    padding: 5px;
}

.collections-list > li.hidden {
    /* opacity: 0.2; */
    opacity: 0;
    pointer-events: none;
}

.collections-list .cover-photo {
    display: block;
    text-align: left;
    width: 150px;
    margin-bottom: 10px;
    /*padding: 20px 0;*/
    box-sizing: border-box;
}

/* Collection name */
.collections-list h2 a {
    text-decoration: none;
    font-size: 16px;
    /*color: #2B2E31;*/
    color: rgba(255,255,255,0.88);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin: 0;
}

/* Collection description ex. video/music */
.collections-list p {
    display: block;
    font-size: 14px;
    color: rgba(255,255,255,0.4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin: 0;
}

.collections-list .highlight {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.1);
    opacity: 0;
    transition: 0.4s;
}

.collections-list > li:hover .highlight {
    opacity: 1;
}

/* Making the list responsive */
@media (max-width: 800px){

    .collections-list {
        margin-left: 150px;
    }
    .collections-list .cover-photo {
        width: 170px;
    }

    .collections-list .item-details {
        max-width: 225px;
    }
}

@media (max-width: 1200px) {

    collections-list {
        margin-left: 200px;
    }
    .collections-list .cover-photo {
        width: 170px;
    }

    .collections-list .item-details {
        max-width: 225px;
    }
}

/* set only image height from html ! */
img {
    width:auto;
    max-width:100%;
    /* height:auto; */
}