body {
  padding-top: 5rem;
  background:rgba(63,66,69,.98)
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.dropdown-menu {
  background-color: #101010;
}

.dropdown-menu>li>a {
  color: #fff8;
}

.dropdown-menu > li > a:hover {
  background-color: #555;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #555;
}

.container {
  position:relative;top:50px;
}

.thumbnail {
  display: none;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border-style:none;
  border: 0px;
}


.bs-example {
    margin-right: 0;
    margin-left: 0;
    position:relative;left:100px;
    position:relative;top:50px;
    width: 1200px;
}
